@tailwind base;
@tailwind components;
@tailwind utilities;

.checked {
  position: relative;
  text-decoration: line-through;
}

.checked::before {
  position: absolute;
  content: "\2713";
  left: 15px;
}

.close-btn::before {
  content: "\00D7";
}
